a.delete_group,
a.delete_group:visited {
	text-decoration: none;
	background-color: #ffeeee;
	color: #f88;
	font-weight: bold;
	padding: 2px;
}

a.delete_group:hover {
	background-color: #f00;
	color: #fff;
}

.memberships span:hover {
	background-color: #fdd;
}

a.add_group,
a.add_group:visited {
	text-decoration: none;
	background-color: #eeffee;
	color: #080;
	font-weight: bold;
	padding: 2px;
}

a.add_group:hover {
	background-color: #0f0;
	color: #000;
}

form.add_form {
	position: absolute;
	z-index: 2;
	border: 1px solid #aaa;
	background-color: #eee;
}

form.add_form div {
	border: 1px solid #aaa;
	background-color: #eee;
}

form.add_form div ul {
	padding: 0;
	margin: 0;
}

form.add_form div ul li{
	list-style-type: none;
}

form.add_form div ul li.selected {
	background-color: #dfd;
}