<h1>Listing nonces</h1>

<table>
  <tr>
	  <th>State</th>
    <th>Nonce or User</th>
    <th>Sid</th>
  </tr>

<% for nonce in @nonces %>
  <tr>
	  <td><%=h nonce.state %></td>
    <td><%=h nonce.account ? nonce.account.username : nonce.nonce %></td>
    <td><%=h nonce.sid %></td>
    <td><%= link_to 'Destroy', nonce, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>
